html, body, #root, .App, .content{
    margin:0;
    width:100vw;
    height:100vh;
}

:root{
    --header-color:#C4C4C4;
    --accent-color-light:#D6D6D6;
    --accent-color-dark:#2C2C2C;
    --header-color:#C4C4C4;
    --background-color:#E5E5E5;

}

.content{
    background-color: var(--background-color);
}

.mapSelectionHeader{
    background-color: var(--header-color);
    position: relative;
    text-align: center;
}

.mapSelectionHeader h1{
    display:inline-block;
}
.mapSelectionHeader #logout a:any-link{
    text-decoration: none;
    color:black;
}
.mapSelectionHeader #logout a:hover{
    text-decoration: underline;
    color:var(--background-color);
}
.mapSelectionHeader #logout{
    position: absolute;
    top:25%;
    right:20px;
}

.newMaps{
    background-color: var(--accent-color-light);
    text-align: center;
}
.mapOptionContainer{
    display: inline-block;
}

.userMapsContainer{
    text-align: center;
}

.mapOptionContainer .mapOption{
    background-color: var(--header-color);
    display:block;
    height: 250px;
    width: 175px;
    position: relative;
    text-overflow: ellipsis;
    margin: 20px;
}

.mapOptionContainer .mapOption .title{
    background-color: var(--accent-color-dark);
    position: absolute;
    width: 100%;
    height:50px;
    bottom: 0;
    color:white;
    font-size: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mapOptionContainer .mapOption .icon{
    width:75%;
    height:calc(100% - 50px);
}

.mapOptionContainer .mapOption .icon image{
    width:100%;
    height:100%;
}
.mapOptionContainer{
    display:inline-block;
}

.mapOptionContainer .mapOption .mapOptionOverlay{
    display: none;
    text-align: right;
    font-size: 150%;
    position: relative;
}

.deleteUserMap:hover{
    cursor:pointer;
}
.mapOptionContainer .mapOption:hover{
       cursor: pointer;
}
.mapOptionContainer .mapOption .mapOptionOverlay .mapOptionOverlayContents{
    position: absolute;
    top:0;
    right:0;
    background-color: white;
    cursor: default;
    padding:5px;
}
.mapOptionContainer .mapOption:hover .mapOptionOverlay .mapOptionOverlayContents span{
    color:black;
    padding:5px;
}
.mapOptionContainer .mapOption:hover > .mapOptionOverlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color:white;
    padding: 10px;
}



